:root {
    /*COLORS*/
    --background-color-header: rgba(173, 216, 230, 1);
    --background-color-sub-container-header: rgba(218, 165, 32, 1);
    --background-first-section: rgba(0, 0, 139, 1);
    --square-color-first-section: rgba(238, 130, 238, 1);
    --square-left-main-section: rgba(30, 144, 255, 1);
    --square-right-main-section: rgba(255, 192, 203, 1);
    --background-main-even-section: rgba(211, 211, 211, 1);
    --square-color-final-section: rgba(34, 139, 34, 1);
    --background-color-footer: rgba(35, 39, 42, 1);
    --left-column-footer: rgba(240, 128, 128, 1);
    --right-column-footer: rgba(32, 178, 170, 1);
    --background-color-container-footer: rgba(127, 255, 212, 1);
    --logo-button-color-footer: rgba(250, 178, 189, 1);

}

.container {
    max-width: 1000px;
    margin: auto;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug header {
    background-color: var(--background-color-header);

}

.header-container {
    padding: 10px;
}

.debug .header-sub-container {
    background-color: var(--background-color-sub-container-header);

}

.header-sub-container {
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    flex-grow: 1;
}

.links-container {
    justify-content: space-around;
    flex-grow: 3;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
    text-align: center;
}

.login {
    flex-grow: 1;
}

.login {
    text-align: right;
}

.logo,
.links,
.login {
    padding: 5px;

}